<form id="edit-post-form">

  <label for="title">Title</label>
  <input type="text" name="title" value=<%= postTitle %> id="title">

  <label for="body">Body</label>
  <input type="body" name="body" value=<%= postBody %> id="body">

  <button class="submit">Edit</button>
</form>

